{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row headingappointments">
        <div class="col-12">
            <h2> Book an Appointment </h2>
            <p class="blue-text">Use the following form to request an appointment..</p>
        </div>
    </div>

<!-- to book an appointment user needs to log in-->
{% if user.is_authenticated %}
<section id="booking">
    <div class="booking_container form_group">
        <div class="row">
            <div class="col-md-3 mt-5 offset-md-3">
                <h4 class="stroke">Book Appointment:</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Submit</button>
                </form>
    
    </div>
        </div>
        
        </div>
        {% endif %}


{% endblock %}