{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="confirm-message text-center">
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to cancel the appointment <strong class="fst-italic">{{ object }}</strong>?</p>
                <p> This action can't be undone </p>
                <button class="btn btn-sm btn-primary m-10" type="submit"><strong>Confirm</strong></button>
            </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}