{% extends "base.html" %}

{% block content %}

<!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome To Tranwell Media!</div>
            <div class="masthead-heading text-uppercase">Digital Marketing Solutions</div>
        </div>
    </header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container mt-5">
        <div class="text-center page-header">
            <h2 class="section-heading text-uppercase mb-2">Services</h2>
            <h3 class="section-subheading text-muted mb-4">Let us help you to transform and grow your business digitally.</h3>
        </div>
        <div class="row text-center mb-5">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa-solid fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa-solid fa-bullhorn fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Digital Marketing Solutions</h4>
                <p class="text-muted">It's still a common chanllennge since many buinesses know how vital digital and mobile channels are today for acquiring and retaining customers. Tranwell media helps young buinesses to design an integrated plan to support digital transformation and busines
                    growth, and the engage the audiences effectively online.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Responsive Web Development</h4>
                <p class="text-muted">We design websites that automatically scales its content and elements to match the screen size on which its viewed giving your clientsa much better
                    user experience.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-magnifying-glass fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Search Engine Optimisation</h4>
                <p class="text-muted">SEO is a strategy used by many companies to help boost themselves in Google's search page rankings. The closer you are to the top, the better the chance 
                    potential customers will find you. Tranwell Media helps business to to acheive this by creating an effective content for your website.</p>
            </div>
        </div>
    </div>
</section>

{%endblock%}